html{font:16px/1.25 "Microsoft Yahei"}*{padding:0;margin:0;outline:0}body{background:#f1f1f1;color:#666}a{text-decoration:none}#container,#container-game{height:auto;width:620px;margin:100px auto 0;box-shadow:0 1px 1px #aaa}#container-game{width:800px!important}#container:after,#container:before,.game:after,.game:before,.row:after,.row:before{display:table;content:''}#container:after,.game:after,.row:after{clear:both}.layout{background:#fff;padding:20px;height:350px;width:580px;float:left}.game{margin-top:60px}.batang{width:157px;height:100px;float:left;margin:0 17px;text-align:center;padding-top:48px;padding-bottom:27px;position:relative;background:url(../img/batang.png) center center no-repeat;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end}.brick{height:18px;border-radius:5px;margin:0 auto;background:#3498DB;border:1px solid #2880BA;vertical-align:middle;z-index:9999}.b5{width:120px}.b4{width:100px}.b3{width:80px}.b2{width:60px}.b1{width:40px}.none{margin-bottom:-20px!important;background:#ddd}.desc{margin-top:50px;text-align:center}.btn{padding:10px 15px;text-align:center;border-radius:3px;margin:0 auto;border:none;cursor:pointer}.btn-primary{background:#2880BA;color:#fff}.btn-primary:hover{background:#2077A8}.btn-secondary{background:#ddd;color:#666}.btn-secondary:hover{background:#d5d5d5}h1,h2,h3,h4{text-align:center}h2{font-size:1.7em}.module{background:#2880BA;color:#fff;float:left;width:140px;padding:20px;height:350px}.module h1,.module h2,.module h3,.module h4{text-align:left}.module h4{color:#9FD8F7}.mod{margin-bottom:20px}.hide{display:none}.input{padding:6px 5%;width:90%;border:1px solid #ddd;border-radius:3px;margin-bottom:10px}.config{width:200px;margin:10px auto 0!important}.form{margin-top:10px}.left{float:left}.ui-place{background:#4072b8}.row{margin:.5em 0}#rule{padding:1em}.row label{width:100px;font-weight:700;text-align:right;display:inline-block;margin-right:10px}#rule>div{	white-space: pre-line;}
.LL{
	margin-top:0.5rem;
	margin-bottom:0.5rem;
	padding:0.5rem;	
}
.LL span{
	display:inline-block;
	width:30%;
}
.muki{
	background: #fff;
    padding: 20px;
    min-height: 350px;
    width: 580px;
    float: left;
	animation:linear 8s ani infinite;
	margin-bottom:3rem;
	animation-play-state:running;
	transition:1s;
}
.muki:hover{
	animation-play-state:paused;
	transform:scaleX(1);	
}
@keyframes ani{
	10%{
		transform:scaleX(1);
	}
	35%{
		transform:scaleX(0);
	}
	50%{
		transform:scaleX(-1);
	}
	65%{
		transform:scaleX(0);
	}
	90%{
		transform:scaleX(1);
	}
}
em{
	font-style:normal;	
}
.r{
	color:#F00;	
}
.g{
	color:#0F0;	
}
/*
.LL :nth-child(odd){
	background:#CCC;
}
*/